<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    
    <div class="container">
        <button class="btn btn-info">
            <a style="color: whitesmoke" href="gui.html"> Back </a>
        </button>
        <div class="jumbotron">
            <h1>Web Cards App</h1>
            <p>Rendered by HTML and JS</p>
        </div>
        <br>
        <div class="row">
            <div>
                <div class="card col-xs-4" style="width: 18rem; padding: 10px">
                    <img class="card-img-top" src="./images/herodotus-3267-6b65210bc5d5240db3e831564031394a@1x.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card col-xs-4" style="width: 18rem; padding: 10px">
                    <img class="card-img-top" src="./images/herodotus-3267-6b65210bc5d5240db3e831564031394a@1x.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card col-xs-4" style="width: 18rem; padding: 10px">
                    <img class="card-img-top" src="./images/herodotus-3267-6b65210bc5d5240db3e831564031394a@1x.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>