<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>GUI By Python & ElectronJS</h1>
            <p>Rendered by HTML and JS</p>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-4">
                <img style="width: 30%" src="./images/forms.png" alt="">
                <br>
                <button class="btn btn-success">
                    <a style="color: whitesmoke" href="form.html">First Program</a>
                </button>
            </div>
            <div class="col-xs-4">
                <img style="width: 30%" src="./images/cards.jpg" alt="">
                <br>
                <button class="btn btn-success">
                    <a style="color: whitesmoke" href="cards.html">First Program</a>
                </button>
            </div>
            <div class="col-xs-4">
                <img style="width: 30%" src="./images/forms.png" alt="">
                <br>
                <button class="btn btn-success">
                    <a style="color: whitesmoke" href="form.html">First Program</a>
                </button>
            </div>
        </div>
    </div>
</body>